#### 01. 판다스 - 데이터 프레임

In [ ]:
# 판다스(pandas) 라이브러리
# 파이썬에서 대용량의 데이터를 분석하는 기능을 제공
# 판다스 라이브러리는 대용량의 데이터를 표 형태로 표현
# 판다스 라이브러리 사용을 위해서는 최초 1회 라이브러리 설치를 해야한다.
# 터미널에서 pip install pandas 입력으로 라이브러리 설치

In [1]:
# 판다스는 *딕셔너리({}로 생성된)* 데이터를 기반으로 동작한다.
data = {
  '이름' : ['김자바', '이자바', '박자바', '최캐드', '정캐드'],
  '학급' : ['자바반', '자바반', '자바반', '캐드반', '캐드반'],
  '국어점수' : [90, 80, 70, 100, 90],
  '영어점수' : [70, 80, 80, 70, 90],
  '평균' : [80.0, 80.0, 75.0, 85.0, 90.0],
  '취미' : ['독서', '', '', '요가', '축구']
}

In [2]:
# pandas 라이브러리 import 하는 명령어(매 프로젝트 마다)
import pandas

In [3]:
# 딕셔너리 데이터를 표 형태로 변환
# 표 형태 변환을 위해 판다스의 DataFrame을 사용
df = pandas.DataFrame(data)
df

    이름   학급  국어점수  영어점수    평균  취미
0  김자바  자바반    90    70  80.0  독서
1  이자바  자바반    80    80  80.0
2  박자바  자바반    70    80  75.0
3  최캐드  캐드반   100    70  85.0  요가
4  정캐드  캐드반    90    90  90.0  축구

In [ ]:
# 특정 컬럼의 데이터만 조회
df['이름']

0    김자바
1    이자바
2    박자바
3    최캐드
4    정캐드
Name: 이름, dtype: object

In [11]:
# 특정 컬럼을 두 개 이상 조회
# df[하나의 데이터] -> df[] 대괄호 안에는 한 개의 데이터만 들어갈 수 있다.
# 두 개 이상의 컬럼을 조회하려면 []에 감싸서 2개 이상의 컬럼을 작성한다.
df[['이름', '학급']]

    이름   학급
0  김자바  자바반
1  이자바  자바반
2  박자바  자바반
3  최캐드  캐드반
4  정캐드  캐드반