#### 02.판다스 - index

In [1]:
# 예제
data = {
  '이름' : ['김자바', '이자바', '박자바', '최캐드', '정캐드'],
  '학급' : ['자바반', '자바반', '자바반', '캐드반', '캐드반'],
  '국어점수' : [90, 80, 70, 100, 90],
  '영어점수' : [70, 80, 80, 70, 90],
  '평균' : [80.0, 80.0, 75.0, 85.0, 90.0],
  '취미' : ['독서', '', '', '요가', '축구']
}

In [11]:
import pandas

# 아래 문법은 index를 자동으로 생성한다.
# index는 디비에서 pk컬럼과 같은 개념
df = pandas.DataFrame(data)

# index를 지정해서 dataFrame 생성
df = pandas.DataFrame(data, index = ['1번', '2번', '3번', '4번', '5번'])

# 인덱스에 이름 부여
df.index.name = '학번'

df

     이름   학급  국어점수  영어점수    평균  취미
학번
1번  김자바  자바반    90    70  80.0  독서
2번  이자바  자바반    80    80  80.0
3번  박자바  자바반    70    80  75.0
4번  최캐드  캐드반   100    70  85.0  요가
5번  정캐드  캐드반    90    90  90.0  축구

In [19]:
# 인덱스 정보 초기화
# 파이썬의 참, 거짓 : True, False 앞글자 대문자

# 인덱스가 초기화 되지만 결과를 저장하지 않는다.
# df.reset_index(drop=True)

# inplace=True(db에서 COMMIT과 같은 역할)를 추가하면 결과를 저장한다.
df.reset_index(drop=True, inplace=True)

In [18]:
df

    이름   학급  국어점수  영어점수    평균  취미
0  김자바  자바반    90    70  80.0  독서
1  이자바  자바반    80    80  80.0
2  박자바  자바반    70    80  75.0
3  최캐드  캐드반   100    70  85.0  요가
4  정캐드  캐드반    90    90  90.0  축구