### 판다스 활용 데이터 분석

1. 키보드로 세 수를 입력받고,입력받은 세 수를 리스트에 저장하시오. 그 후 리스트에 저장된 수 중 가장 큰 수와 가장 작은 수의 차를 출력하시오.

In [ ]:
#1번 문제 풀이 작성
result = []

for i in range(0 , 3) :
  result.append(int(input(f'{i + 1} 번째 정수 입력 : ')))

maxNum = result[0]
minNum = result[0]

for e in result :
  if maxNum < e :
    maxNum = e
  if minNum > e :
    minNum = e 
  
# maxNum = max(result)
# minNum = min(result)

print(maxNum - minNum)

8

2. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 저장된 모든 데이터의 합을 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,2,3] , [4,5,6] / 결과 : 21

In [27]:
#2번 문제 풀이 작성
arr1 = [1, 2, 3]
arr2 = [4, 5, 6]
sum1 = 0
sum2 = 0

for e in arr1 :
  sum1 = sum1 + e
for e in arr2 :
  sum2 = sum2 + e

sumData = sum1 + sum2

# sumData = sum(arr1) + sum(arr2)
print(sumData)

21

3. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 중복으로 저장된 데이터만을 갖는  새로운 리스트를 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,3,5,7,9] , [1,2,3,4,5] / 결과 : [1,3,5]

In [28]:
#3번 문제 풀이 작성
arr1 = [1,3,5,7,9]
arr2 = [1,2,3,4,5]
newArr = []

for e in arr1 : 
  for i in arr2 :
    if e == i :
      newArr.append(e)

print(newArr)

[1, 3, 5]

4. 이름, 나이, 국어점수, 영어점수, 국어점수를 데이터로 갖는 student 딕셔너리를 만드시오. 각 데이터는 키보드로 입력받아 저장하시오.

In [33]:
#4번 문제 풀이 작성
student = {
  '이름' : input('이름 입력 : '),
  '나이' : int(input('나이 입력 : ')),
  '국어점수' : int(input('국어 점수 입력 : ')),
  '영어점수' : int(input('영어 점수 입력 : ')),
  '수학점수' : int(input('수학 점수 입력 : ')),
}

student

{'이름': '김성현', '나이': 30, '국어점수': 55, '영어점수': 85, '수학점수': 95}

5. 4번 문제에서 만든 딕셔너리 데이터에 총점 데이터를 추가하시오. 총점 데이터는 국어,영어, 수학점수의 합으로 들어가야합니다.

In [43]:
#5번 문제 풀이 작성
student['총점'] = student['국어점수'] + student['영어점수'] + student['수학점수']
student

{'이름': '김성현', '나이': 30, '국어점수': 55, '영어점수': 85, '수학점수': 95, '총점': 235}

6. 아래 딕셔너리 데이터에 stu_grade라는 키를 추가하고, 해당 키의  데이터로  점수(stu_score)에 따른 등급 데이터를 저장하시오.  
90 <= 점수      : A등급  
80 <= 점수 < 90 : B등급  
70 <= 점수 < 80 : C등급  
      점수 < 70 : D등급

In [42]:
class_room_data = {
    'stu_no' : [1, 2, 3, 4, 5],
    'stu_name' : ['김자바', '이자바', '박자바', '최자바', '정자바'],
    'stu_score' : [85, 65, 70, 80, 95]
}

#6번 문제 풀이 작성
class_room_data['stu_grade'] = []

for e in class_room_data['stu_score'] :
  if e >= 90 :
    class_room_data['stu_grade'].append('A')
  elif e >= 80 :
    class_room_data['stu_grade'].append('B')
  elif e >= 70 :
    class_room_data['stu_grade'].append('C')
  else :
    class_room_data['stu_grade'].append('D')

class_room_data

{'stu_no': [1, 2, 3, 4, 5],
 'stu_name': ['김자바', '이자바', '박자바', '최자바', '정자바'],
 'stu_score': [85, 65, 70, 80, 95],
 'stu_grade': ['B', 'D', 'C', 'B', 'A']}